
// Compass definitions
@import "compass";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/color/contrast";
@import "compass/css3/transition";

// Plugins
@import "normalize";
@import "susy";
@import "breakpoint";
@import "sassy-buttons";
//@import "font-awesome-compass";
//@import "font-awesome";

// Configuring Susy Defaults
$max-width: 1200px;

$susy: (
        container: $max-width,
        columns: 12,
        gutters: 1/6,
        global-box-sizing: border-box,
        use-custom: (rem: true)
);

@include border-box-sizing;

// Compass Vertical Rhythm Settings from http://zellwk.com/blog/compass-vertical-rhythm/
$base-font-size: 16px; // Sets the base font size
$base-line-height: 24px; // Sets the base line height
$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.
@include establish-baseline;
