/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 */
/* Import Sass mixins, variables, Compass modules, Susy, Breakpoint, etc. */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 29, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 40, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 47, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
/* line 11, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a {
  background: transparent;
}

/* line 15, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 15, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 22, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic;
}

/* line 29, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 36, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 43, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%;
}

/* line 49, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 57, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em;
}

/* line 61, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
img {
  border: 0;
}

/* line 15, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
figure {
  margin: 1em 40px;
}

/* line 15, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 23, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
pre {
  overflow: auto;
}

/* line 29, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
/* line 15, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 27, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button {
  overflow: visible;
}

/* line 36, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 47, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 64, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 73, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input {
  line-height: normal;
}

/* line 83, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 93, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 102, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 113, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 120, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 129, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 136, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto;
}

/* line 143, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
/* line 9, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
td,
th {
  padding: 0;
}

/* line 21, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/susy-2.2.10/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* HTML element (SMACSS base) rules */
/* line 4, ../sass/base/_base.scss */
body {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: .9rem;
}

/* line 10, ../sass/base/_base.scss */
a {
  text-decoration: none;
}

/* line 14, ../sass/base/_base.scss */
address {
  font-style: normal;
}

/* line 18, ../sass/base/_base.scss */
h1, h2, h3 {
  font-weight: 300;
}

/* line 21, ../sass/base/_base.scss */
h1 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* Layout rules */
@media (min-width: 40rem) {
  /* line 1, ../sass/layouts/_project-page.scss */
  .project-info {
    width: 40.96386%;
    float: left;
    margin-right: 1.20482%;
  }
}

/* line 7, ../sass/layouts/_project-page.scss */
.project-photos .field__item {
  width: 48%;
  margin: .5%;
  display: inline-block;
}
/* line 12, ../sass/layouts/_project-page.scss */
.project-photos img {
  width: 100%;
  height: auto;
}
@media (min-width: 40rem) {
  /* line 6, ../sass/layouts/_project-page.scss */
  .project-photos {
    width: 49.39759%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, ../sass/layouts/_site-layout.scss */
.container {
  max-width: 1200px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/susy-2.2.10/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* Header */
/* line 7, ../sass/layouts/_site-layout.scss */
header {
  padding: 1rem;
  position: relative;
  z-index: 100;
  flex: none;
}

/* line 14, ../sass/layouts/_site-layout.scss */
.feature.non-front {
  background: url("../images/header_stripe_mobile.jpg") repeat-x;
  padding: 1em 0;
}
@media (min-width: 40rem) {
  /* line 14, ../sass/layouts/_site-layout.scss */
  .feature.non-front {
    background-image: url("../images/header_stripe.jpg");
  }
}
/* line 20, ../sass/layouts/_site-layout.scss */
.feature.non-front .block-inner {
  max-width: 1200px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/susy-2.2.10/sass/susy/output/support/_clearfix.scss */
.feature.non-front .block-inner:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 23, ../sass/layouts/_site-layout.scss */
.feature.non-front h1 {
  color: white;
  margin: 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
}
@media (min-width: 40rem) {
  /* line 23, ../sass/layouts/_site-layout.scss */
  .feature.non-front h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}

/* line 33, ../sass/layouts/_site-layout.scss */
#block-automata-classy-branding {
  text-align: center;
  margin: 0 50px;
  z-index: 1;
  position: relative;
}
/* line 38, ../sass/layouts/_site-layout.scss */
#block-automata-classy-branding img {
  width: 100%;
  max-width: 200px;
}
@media (min-width: 40rem) {
  /* line 33, ../sass/layouts/_site-layout.scss */
  #block-automata-classy-branding {
    margin: 0;
    width: 40.96386%;
    float: left;
    margin-right: 1.20482%;
    text-align: left;
  }
  /* line 46, ../sass/layouts/_site-layout.scss */
  #block-automata-classy-branding img {
    max-width: 250px;
  }
}

/* line 55, ../sass/layouts/_site-layout.scss */
.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

/* line 63, ../sass/layouts/_site-layout.scss */
#block-pagetitle {
  padding: 0 2rem;
}

/* line 68, ../sass/layouts/_site-layout.scss */
main {
  flex: 1 0 auto;
  padding: 2rem 2rem;
  overflow: hidden;
}

@media (min-width: 40rem) {
  /* line 75, ../sass/layouts/_site-layout.scss */
  .has-sidebar-second .layout-content {
    width: 57.83133%;
    float: left;
    margin-right: 1.20482%;
  }
  /* line 78, ../sass/layouts/_site-layout.scss */
  .has-sidebar-second .layout-sidebar-second {
    width: 32.53012%;
    float: right;
    margin-right: 0;
  }
}
/* line 87, ../sass/layouts/_site-layout.scss */
.site-footer {
  padding: 2rem 2rem;
  flex: none;
}

/* line 91, ../sass/layouts/_site-layout.scss */
.footer-logo {
  max-width: 10rem;
  margin-bottom: .5rem;
}
/* line 94, ../sass/layouts/_site-layout.scss */
.footer-logo img {
  width: 100%;
}

/* line 98, ../sass/layouts/_site-layout.scss */
.social-icons-footer {
  font-size: 2rem;
}

/* line 102, ../sass/layouts/_site-layout.scss */
#block-footercontact a {
  display: block;
}

@media (min-width: 40rem) {
  /* line 119, ../sass/layouts/_site-layout.scss */
  .region-footer-one {
    width: 24.09639%;
    float: left;
    margin-right: 1.20482%;
  }

  /* line 122, ../sass/layouts/_site-layout.scss */
  .region-footer-two {
    width: 24.09639%;
    float: left;
    margin-right: 1.20482%;
  }

  /* line 125, ../sass/layouts/_site-layout.scss */
  .region-footer-three {
    width: 24.09639%;
    float: left;
    margin-right: 1.20482%;
  }

  /* line 128, ../sass/layouts/_site-layout.scss */
  .region-footer-four {
    width: 24.09639%;
    float: right;
    margin-right: 0;
  }
}
/* line 132, ../sass/layouts/_site-layout.scss */
.legal {
  padding: .2rem 0;
  font-size: .6rem;
  flex: none;
}

/* Component rules (called 'modules' in SMACSS) */
/* line 1, ../sass/components/_feature.scss */
.view-homepage-slideshow {
  position: relative;
  overflow: hidden;
}

/* line 5, ../sass/components/_feature.scss */
.homepage-slideshow-slide {
  width: 100vw;
  min-height: 15rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 40rem) {
  /* line 5, ../sass/components/_feature.scss */
  .homepage-slideshow-slide {
    min-height: 25rem;
  }
}
@media (min-width: 64rem) {
  /* line 5, ../sass/components/_feature.scss */
  .homepage-slideshow-slide {
    min-height: 35rem;
  }
}
/* line 17, ../sass/components/_feature.scss */
.homepage-slideshow-slide img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

/* line 25, ../sass/components/_feature.scss */
.slideshow-caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 3em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000000 100%);
}
/* line 37, ../sass/components/_feature.scss */
.slideshow-caption .field-content {
  max-width: 1200px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
}
/* line 12, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/susy-2.2.10/sass/susy/output/support/_clearfix.scss */
.slideshow-caption .field-content:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 53, ../sass/components/_feature.scss */
.views_slideshow_controls_text_pause {
  display: none;
}

/* line 56, ../sass/components/_feature.scss */
.views_slideshow_controls_text_next, .views_slideshow_controls_text_previous {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  height: 4rem;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  cursor: pointer;
}
/* line 71, ../sass/components/_feature.scss */
.views_slideshow_controls_text_next:before, .views_slideshow_controls_text_previous:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 2rem;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  line-height: 4rem;
}
/* line 79, ../sass/components/_feature.scss */
.views_slideshow_controls_text_next a, .views_slideshow_controls_text_previous a {
  text-indent: -999em;
  display: block;
}

/* line 84, ../sass/components/_feature.scss */
.views_slideshow_controls_text_previous {
  left: -4rem;
}

/* line 87, ../sass/components/_feature.scss */
.views_slideshow_controls_text_next {
  right: -4rem;
}
/* line 89, ../sass/components/_feature.scss */
.views_slideshow_controls_text_next:before {
  content: "\f105";
}

/* line 96, ../sass/components/_feature.scss */
.view-homepage-slideshow:hover .views_slideshow_controls_text_previous {
  left: 0;
  opacity: 1;
}
/* line 100, ../sass/components/_feature.scss */
.view-homepage-slideshow:hover .views_slideshow_controls_text_next {
  right: 0;
  opacity: 1;
}

/* line 108, ../sass/components/_feature.scss */
#views_slideshow_cycle_teaser_section_homepage_slideshow-block_1 {
  width: 100% !important;
}

/* line 3, ../sass/components/_main-nav.scss */
#block-automata-classy-main-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 85px;
  overflow: hidden;
  width: 100%;
}
/* line 13, ../sass/components/_main-nav.scss */
#block-automata-classy-main-menu .menu {
  background: #333;
  margin: 0;
}
/* line 17, ../sass/components/_main-nav.scss */
#block-automata-classy-main-menu .menu-item {
  border-top: 1px dotted #ccc;
}
/* line 19, ../sass/components/_main-nav.scss */
#block-automata-classy-main-menu .menu-item a {
  display: block;
  padding: .5em 1em;
  width: 100%;
  color: white;
}

/* line 28, ../sass/components/_main-nav.scss */
.nav-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #ffffff url("../images/nav-icon.svg") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

/* line 41, ../sass/components/_main-nav.scss */
.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #ffffff url("../images/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: transparent;
}

/* line 57, ../sass/components/_main-nav.scss */
.no-svg .close-btn {
  background-image: url("../images/close-btn.png");
}

/* line 61, ../sass/components/_main-nav.scss */
.no-svg .nav-btn {
  background-image: url("../images/nav-icon.png");
}

/* line 66, ../sass/components/_main-nav.scss */
#top .nav-btn {
  position: absolute;
  top: 1.5em;
  left: 1.875em;
}

/* line 71, ../sass/components/_main-nav.scss */
#block-automata-classy-main-menu .close-btn {
  position: absolute;
  top: 1.5em;
  left: 1.875em;
  display: none;
}

/* line 78, ../sass/components/_main-nav.scss */
#block-automata-classy-main-menu:not(:target) {
  height: 0;
}

/* line 81, ../sass/components/_main-nav.scss */
#block-automata-classy-main-menu:target .close-btn {
  display: block;
  z-index: 1;
}

@media (min-width: 40rem) {
  /* line 89, ../sass/components/_main-nav.scss */
  #block-automata-classy-main-menu {
    position: static;
    padding: 1em 0;
    overflow: visible;
    width: 57.83133%;
    float: right;
    margin-right: 0;
  }
  /* line 95, ../sass/components/_main-nav.scss */
  #block-automata-classy-main-menu .menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background: transparent;
  }
  /* line 103, ../sass/components/_main-nav.scss */
  #block-automata-classy-main-menu .menu-item {
    border: 0;
  }
  /* line 105, ../sass/components/_main-nav.scss */
  #block-automata-classy-main-menu .menu-item a {
    color: #44AA00;
  }

  /* line 110, ../sass/components/_main-nav.scss */
  #block-automata-classy-main-menu .close-btn, .nav-btn {
    display: none !important;
  }
}
/* line 3, ../sass/components/_paragraph_image_text.scss */
.paragraph--type--image-text {
  padding: 2em 0;
}
@media (min-width: 40rem) {
  /* line 6, ../sass/components/_paragraph_image_text.scss */
  .paragraph--type--image-text .field--type-image {
    float: left;
    margin-right: 3em;
  }
}

/** Preformatted Sections - 3 cols **/
/* line 3, ../sass/components/_paragraph_preformatted_sections.scss */
.paragraph--type--three-column-feature {
  padding: 4em 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  overflow: hidden;
}
@media (min-width: 1200px) {
  /* line 3, ../sass/components/_paragraph_preformatted_sections.scss */
  .paragraph--type--three-column-feature {
    margin-left: -100%;
    margin-right: -100%;
  }
}
/* line 6, ../sass/components/_paragraph_preformatted_sections.scss */
.paragraph--type--three-column-feature .paragraph-inner {
  max-width: 1200px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../usr/share/rvm/gems/ruby-2.2.1/gems/susy-2.2.10/sass/susy/output/support/_clearfix.scss */
.paragraph--type--three-column-feature .paragraph-inner:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 13, ../sass/components/_paragraph_preformatted_sections.scss */
.field--name-field-ctas > .field__item {
  text-align: center;
}
/* line 15, ../sass/components/_paragraph_preformatted_sections.scss */
.field--name-field-ctas > .field__item ul {
  list-style-type: none;
  padding: 0;
}
/* line 19, ../sass/components/_paragraph_preformatted_sections.scss */
.field--name-field-ctas > .field__item .field--name-field-image-or-icon {
  margin-bottom: 2em;
}
/* line 21, ../sass/components/_paragraph_preformatted_sections.scss */
.field--name-field-ctas > .field__item .field--name-field-image-or-icon img {
  width: 29%;
  height: auto;
}
@media (min-width: 40rem) {
  /* line 13, ../sass/components/_paragraph_preformatted_sections.scss */
  .field--name-field-ctas > .field__item {
    width: 30%;
    float: left;
    margin-right: 5%;
  }
  /* line 28, ../sass/components/_paragraph_preformatted_sections.scss */
  .field--name-field-ctas > .field__item ul ul {
    padding-left: 1em;
  }
  /* line 31, ../sass/components/_paragraph_preformatted_sections.scss */
  .field--name-field-ctas > .field__item:last-child {
    width: 30%;
    float: right;
    margin-right: 0;
  }
}
/* line 37, ../sass/components/_paragraph_preformatted_sections.scss */
.field--name-field-ctas .field--name-field-heading {
  font-size: 32px;
  font-size: 2rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 6, ../sass/components/_projects_page.scss */
.view-id-projects img, .view-taxonomy-term img {
  border: 1px solid #ccc;
  padding: 3px;
  margin-top: .25em;
}
@media (min-width: 40rem) {
  /* line 6, ../sass/components/_projects_page.scss */
  .view-id-projects img, .view-taxonomy-term img {
    float: left;
    margin-right: 1em;
  }
}
/* line 15, ../sass/components/_projects_page.scss */
.view-id-projects .views-row, .view-taxonomy-term .views-row {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed #ccc;
  overflow: hidden;
}
/* line 23, ../sass/components/_projects_page.scss */
.view-id-projects .views-field-view-node a:after, .view-id-projects .node__links a:after, .view-taxonomy-term .views-field-view-node a:after, .view-taxonomy-term .node__links a:after {
  content: " \f101";
  font-family: FontAwesome;
}

/* line 33, ../sass/components/_projects_page.scss */
.view-id-projects.view-display-id-page_1 .views-row {
  padding-bottom: 3em;
  margin-bottom: 3em;
}
/* line 37, ../sass/components/_projects_page.scss */
.view-id-projects.view-display-id-page_1 .views-field-title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 13, ../sass/themes/_scheme.scss */
a {
  color: #44AA00;
}

/* line 18, ../sass/themes/_scheme.scss */
ul.menu a.is-active {
  color: #44AA00;
}

/* line 23, ../sass/themes/_scheme.scss */
.site-footer {
  background-color: #333;
  color: #b2b2b2;
}
/* line 26, ../sass/themes/_scheme.scss */
.site-footer a {
  color: #b2b2b2;
}
/* line 5, ../sass/themes/_scheme.scss */
.site-footer a:hover {
  color: #bfbfbf;
}

/* line 30, ../sass/themes/_scheme.scss */
.legal {
  background-color: #262626;
  color: #b2b2b2;
}
/* line 5, ../sass/themes/_scheme.scss */
.legal:hover {
  color: #bfbfbf;
}

/* line 36, ../sass/themes/_scheme.scss */
.paragraph--type--_-column-feature {
  background: #fff;
}
