{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

    <header id="top" role="banner">
        <div class="container">
            {{ page.header }}
            <a class="nav-btn" id="nav-open-btn" href="#block-automata-classy-main-menu">Navigation</a>
        </div>
    </header>

    {% if page.feature %}
        <section class="feature">
            {{ page.feature }}
        </section>
    {% endif %}

    <div class="content-top">
        <div class="container">
            {{ page.secondary_menu }}
            {{ page.breadcrumb }}
            {{ page.highlighted }}
            {{ page.help }}
        </div>
    </div>

    <main role="main">
        <div class="container {% if page.sidebar_first %}has-sidebar-first{% endif %} {% if page.sidebar_second %}has-sidebar-second{% endif %}">
            <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

            <div class="layout-content">
                {{ page.content }}
            </div>{# /.layout-content #}

            {% if page.sidebar_first %}
                <aside class="layout-sidebar-first" role="complementary">
                    {{ page.sidebar_first }}
                </aside>
            {% endif %}

            {% if page.sidebar_second %}
                <aside class="layout-sidebar-second" role="complementary">
                    {{ page.sidebar_second }}
                </aside>
            {% endif %}
        </div>
    </main>

    {% if page.footer_one or page.footer_two or page.footer_three %}
        <footer class="site-footer">
            <div class="container">
                {{ page.footer_one }}
                {{ page.footer_two }}
                {{ page.footer_three }}
                {{ page.footer_four }}
            </div>
        </footer>
    {% endif %}
    <div class="legal">
        <div class="container">
            {{ page.legal }}
        </div>
    </div>


</div>{# /.layout-container #}
