//color mixins

@mixin setColorAndHover($color){
  color:$color;
  &:hover{
    color: lighten($color, 5);
  }
}



//links
a{
  color: $brand1;
}

//header/Nav
ul.menu a.is-active{
  color: $brand1;
}

//footer
.site-footer{
  background-color: $footer_background;
  color: $footer_text;
  a{
    @include setColorAndHover($footer_text);
  }
}
.legal{
  background-color: darken($footer_background,5);
  @include setColorAndHover($footer_text);
}


.paragraph--type--_-column-feature {
  background: $content_feature_bg2;
  //color: white;
}