.view-homepage-slideshow{
  position: relative;
  overflow: hidden;
}
.homepage-slideshow-slide{
  width:100vw;
  min-height:15rem;
  position:relative;
  overflow:hidden;
  @include breakpoint($medium){
    min-height:25rem;
  }
  @include breakpoint($large){
    min-height:35rem;
    //min-height:calc(100vh - 105px);
  }
  img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    height: auto;
  }
}
.slideshow-caption{
  position:absolute;
  width:100%;
  bottom:0;
  padding: 3em;

  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,1+100
  @include filter-gradient(#ffffff, #000000, vertical); // IE6-9
  @include background-image(linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%));

  .field-content{
    @include container;
    display:block;
    color:#fff;
    font-size:1.2em;
    font-style: italic;
  }
}


//controls
.views-slideshow-controls-bottom{

  //width:100%;

}
.views_slideshow_controls_text_pause{
  display:none;
}
.views_slideshow_controls_text_next, .views_slideshow_controls_text_previous{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  height:4rem;
  width:4rem;
  background-color: rgba(0,0,0,.5);
  display:block;
  text-align: center;
  opacity:0;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease);
  cursor: pointer;
  &:before{
    content:"\f104";
    font-family:FontAwesome;
    font-size:2rem;
    color:#fff;
    @include opacity(.75);
    line-height:4rem;
  }
  a{
    text-indent:-999em;
    display:block;
  }
}
.views_slideshow_controls_text_previous{
  left:-4rem;
}
.views_slideshow_controls_text_next{
  right:-4rem;
  &:before {
    content: "\f105";
  }
}

.view-homepage-slideshow{
  &:hover{
    .views_slideshow_controls_text_previous{
      left:0;
      opacity:1;
    }
    .views_slideshow_controls_text_next{
      right:0;
      opacity:1;
    }
  }
}

//fix for responsive issue
#views_slideshow_cycle_teaser_section_homepage_slideshow-block_1 {
  width: 100% !important;
}