// Main Nav

#block-automata-classy-main-menu {

  position: absolute;
  top: 0;
  left: 0;
  padding-top: 85px;
  overflow: hidden;
  width: 100%;
  //@include box-shadow(rgba(0,0,0,.7) 2px 0px 1em);

  .menu {
    background: #333;
    margin: 0;
  }
  .menu-item {
    border-top: 1px dotted #ccc;
    a {
      display: block;
      padding: .5em 1em;
      width:100%;
      color: white;
    }
  }
}

.nav-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #ffffff url("../images/nav-icon.svg") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}
.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #ffffff url("../images/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
  background-image: url("../images/close-btn.png");
}

.no-svg .nav-btn {
  background-image: url("../images/nav-icon.png");
}


#top .nav-btn {
  position: absolute;
  top: 1.5em;
  left: 1.875em;
}
#block-automata-classy-main-menu .close-btn {
  position: absolute;
  top: 1.5em;
  left: 1.875em;
  display:none;
}

#block-automata-classy-main-menu:not(:target) {
  height: 0;
}
#block-automata-classy-main-menu:target .close-btn {
  display: block;
  z-index: 1;
}



  @include breakpoint($medium) {
    #block-automata-classy-main-menu {

      position:static;
      padding:1em 0;
      overflow: visible;
      @include span(7 last);
      .menu {
        @include display-flex;
        @include flex-direction(row);
        @include flex(1);
        @include justify-content(flex-end);

        background: transparent;
      }
      .menu-item {
        border: 0;
        a {
          color: $brand1;
        }
      }
    }
    #block-automata-classy-main-menu .close-btn, .nav-btn {
      display: none !important;
    }
  }


