// Paragraph paragraph--type--image-text

.paragraph--type--image-text{
  padding: 2em 0;
  @include breakpoint($medium) {
    .field--type-image {
      float: left;
      margin-right: 3em;
    }
  }
}