/** Preformatted Sections - 3 cols **/

.paragraph--type--three-column-feature{
  @include full-width-content-section;
  overflow:hidden;
  .paragraph-inner{
      @include container;
  }
}

.field--name-field-ctas{
  @include with-layout($three-col) {
    > .field__item {
      text-align: center;
      ul {
        list-style-type: none;
        padding: 0;
      }
      .field--name-field-image-or-icon{
        margin-bottom:2em;
        img{
          width:29%;
          height:auto;
        }
      }
      @include breakpoint($medium) {
        @include span(1);
        ul ul {
          padding-left: 1em;
        }
        &:last-child {
          @include span(1 last);
        }
      }
    }

    .field--name-field-heading {
      @include adjust-font-size-to(2em);
    }
  }
}
