//Projects page


//some global styles for this view, block or page
.view-id-projects, .view-taxonomy-term{
  img{
    border:1px solid #ccc;
    padding:3px;
    margin-top:.25em;
    @include breakpoint($medium){
      float:left;
      margin-right:1em;
    }
  }
  .views-row{
    padding-bottom:1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
  }
  .views-field-view-node a, .node__links a{
    //@include automata-button;
    &:after {
      content: " \f101";
      font-family: FontAwesome;
    }
  }
}

//specific to Page view

.view-id-projects.view-display-id-page_1{
  .views-row{
    padding-bottom:3em;
    margin-bottom: 3em;
  }
  .views-field-title{
    @include adjust-font-size-to(20px);
  }
}