.project-info{
  @include breakpoint($medium){
    @include span(5);
  }
}
.project-photos{
  .field__item{
    width:48%;
    margin:.5%;
    display:inline-block;
  }
  img{
    width: 100%;
    height: auto;
  }
  @include breakpoint($medium){
    @include span(6 last);
    .field__item{
    }
  }
}
