.container{
  @include container;
}

/* Header */

header{
  padding:1rem;
  position: relative;
  z-index:100;
  flex:none;
}

.feature.non-front{
  background:url("../images/header_stripe_mobile.jpg") repeat-x;
  @include breakpoint($medium){
    background-image:url("../images/header_stripe.jpg");
  }
  padding:1em 0;
  .block-inner{
    @include container;
  }
  h1{
    color:white;
    margin:0;
    @include adjust-font-size-to(1.5em);
    @include breakpoint($medium){
      @include adjust-font-size-to(2em);
    }
  }
}

#block-automata-classy-branding{
  text-align: center;
  margin: 0 50px;
  z-index: 1;
  position: relative;
  img{
    width:100%;
    max-width:200px;
  }
  @include breakpoint($medium){
    margin:0;
    @include span(5);
    text-align: left;
    img{
      max-width:250px;
    }
  }
}


//container

.layout-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

//feature
#block-pagetitle{
  padding:0 $main-container-padding-x;
}

//main
main{
  flex: 1 0 auto;
  padding:$main-container-padding-y $main-container-padding-x;
  overflow:hidden;
}
@include breakpoint($medium){
  .has-sidebar-second{
    .layout-content{
      @include span(7);
    }
    .layout-sidebar-second{
      @include span(4 last);
    }
  }
}



//footer
.site-footer{
  padding: $main-container-padding-y $main-container-padding-x;
  flex:none;
}
.footer-logo{
  max-width:10rem;
  margin-bottom:.5rem;
  img{
    width:100%;
  }
}
  .social-icons-footer{
  font-size:2rem;
}
#block-footercontact{
  a{
    display:block;
  }
}
.region-footer-one{

}
.region-footer-two{

}
.region-footer-three{

}
.region-footer-four{

}
@include breakpoint($medium){
  .region-footer-one{
    @include span(3);
  }
  .region-footer-two{
    @include span(3);
  }
  .region-footer-three{
    @include span(3);
  }
  .region-footer-four{
    @include span(3 last);
  }
}
.legal{
  padding: .2rem 0;
  font-size:.6rem;
  flex:none;
}