html {
  //font-size: 62.5%;
}
body{
  font-family: Ubuntu;
  font-weight:300;
  font-size:.9rem;
}

a{
  text-decoration:none;
}

address{
  font-style: normal;
}

h1,h2,h3{
  font-weight:300;
}
h1{
  @include adjust-font-size-to(30px);
}