@mixin full-width-content-section {
  padding: 4em $main-container-padding-x;
  margin-left:-$main-container-padding-x;
  margin-right:-$main-container-padding-x;
  @include breakpoint($max-width) {
    margin-left:-100%;
    margin-right:-100%;
  }
}


//buttons

@mixin automata-button{
  @include sassy-button-structure(4px, inherit, .25em .5em);
  @include sassy-button-gradient("flat", #ccc);
}