// Responsive breakpoints

$medium : 40rem;
$large : 64rem;

//main padding
$main-container-padding-x: 2rem;
$main-container-padding-y: 2rem;


// Other grids
$three-col: (
        columns: 3,
        gutters: 1/6
);